.meal {
  display: flex;
  justify-content: space-between;
}

.meal h3 {
  margin: 0;
}

.meal p {
  margin: 0;
}

.description {
  font-style: italic;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
}

.meal .button {
  background-color: #8a2b06;
  color: white;
  margin: auto 0 auto auto;
}

.meal .button:hover,
.meal .button:active {
  background-color: #641e03;
  border-color: #641e03;
}
