.card {
  width: 50%;
  max-width: fit-content;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
}

.form label {
  font-weight: bold;
}

.form input {
  width: 20rem;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 10px;
  border-width: 2px;
  border-color: rgb(200, 200, 200);
  border-style: solid;
}

.form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 17rem;
  margin: 3rem auto 1rem;
}

.form .submit {
  margin-left: 1.5rem;
}
