.modal {
  width: 40%;
}

.form {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form input {
  margin: 0.3rem 1rem;
  padding: 0.3rem;
  width: 80%;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: rgb(200, 200, 200);
}

.form label {
  font-weight: bold;
  margin-top: 1rem;
}

.price {
  margin-left: 1.3rem;
}

.price input {
  width: 2rem;
  margin: 0.2rem 0.5rem;
}

.form .buttons {
  display: flex;
  flex-direction: row;
  margin: 1rem 1rem auto auto;
}
