.App {
  text-align: center;
  background-color: rgb(68, 64, 64);
  padding-bottom: 1%;
}

.admin {
  padding-left: 3rem;
  text-align: left;
}

.admin button {
  font-weight: bold;
  color: #8a2b06;
  background-color: transparent;
  border-style: none;
}
